
/* CABECERA */

#cabecera {
  height: 145px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#logo-cabecera {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#categorias {
	position: absolute;
	right: 10;
	width: 150px;
	height: 60px;
	background-color: transparent;
	border-color: transparent;
}

ul {
	list-style: none;
	margin: 20;
	padding: 10;
}

li a {
	text-decoration: none;
	color: #010e12;
	font-size:large;
}
  
#banderas{
	width: 20px;
	height: 15px;
	margin-right: 5px;
}

#boton-login {
	position: absolute;
	top: 3%;
	left: 75%;
	transform: translateX(-50%);
	background-color: rgb(173, 209, 230);
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
	height: 20px;
}

#boton-todos-restaurantes {
	position: absolute;
	top: 115%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(173, 209, 230);
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
	height: 20px;
}

#menu-div,
#cabecera {
  background-color: #3da5e0;
}

#menu-div {
  height: 220px;
  width: 240px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  z-index: 4;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  font-size: 21px;
  font-weight: bold;
  font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol"; 
}


/* FOOTER */
#footer {
	background-color: #3da5e0;
	height: 15px;
	width: 100%;
	text-align: center;
	justify-content: center;
	display: flex;
	position: fixed;
	bottom: 0;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* REGISTRO */

form {
    margin-top: 50px;
    text-align: center;
}

fieldset {
    width: 50%;
    margin: 0 auto;
    border: none;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

button[type="submit"], button[type="button"] {
    background-color: #3da5e0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #3da5e0;
}

a {
    text-decoration: none;
}

h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

#login-button, #register-button {
    width: 45%;
}

#login-button {
    background-color: #333;
}

#login-button:hover {
    background-color: #1a1a1a;
}

#register-button {
    background-color: #3da5e0;
}

#register-button:hover {
    background-color: #3da5e0;
}

/* RESTAURANTES DESTACADOS */

.texto-ejemplos-restaurantes {
	text-align: center;
	overflow: hidden;
	text-align: center;
	max-width: 600px;
	margin: auto;
}

.ejemplos-restaurantes {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	overflow: hidden;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Ejemplos restaurantes*/
.ejemplos-restaurantes .rest1,
.ejemplos-restaurantes .rest2,
.ejemplos-restaurantes .rest3,
.ejemplos-restaurantes .rest4,
.ejemplos-restaurantes .rest5,
.ejemplos-restaurantes .rest6 {
	margin: 20px;
}

.ejemplos-restaurantes img {
	height: 300px;
	border-radius: 10px;
	border: 5px solid #3da5e0;
	border-radius: 10px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
}

.ejemplos-restaurantes h2 {
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ejemplos-restaurantes h3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.ejemplos-restaurantes p {
	font-size: 1.1em;
	margin: 0;
	border-radius: 100px;
}


/* IMAGENES */
#restaurante-imagen {
	height: 500px;
	border-radius: 10px;
	border: 5px solid #3da5e0;
	border-radius: 10px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
	width: 40%;
  	height: auto;
  	position: relative;
}


/* QUÉ ES */
.que-es {
	text-align: center;
	border: 2px solid #3da5e0;
	border-radius: 10px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
	width: 100%;
	max-width: 550px;
	margin: 60px auto;
	padding: 30px;
	background-color: #dceef2;
	
	}
	
	.que-es p {
	margin: 20px;
	font-size: 1.2em;
	line-height: 1.6em;
	}
	
	.que-es h2 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	color: #3da5e0;
	text-transform: uppercase;
	}

	/* COMENTARIOS */


	#comentarios {
		width: 52%;
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
		margin-top: 200px;
	}
	  
	.comentarios-titulo {
		margin-top: 0;
		text-align: center;
		
	}
	

	/* CATEGORIA */

	#restaurante-imagen-categoria {
		display: flex;
		border-radius: 10px;
		border: 5px solid #abcee2;
		border-radius: 10px;
		box-shadow: 0px 2px 12px rgba(120, 192, 221, 0.986);
		width: 60%;
		height: auto;
	 	position: relative;
		margin-left: 100px;
	}
	.restaurante-container {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	
	.boton-editar{
		background-color: #3da5e0;
		border: none;
		color: white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5px;
		cursor: pointer;
		margin-bottom: 10px;
	}

	.boton-editar a {
	color: white;
	text-decoration: none;
	}

	/* FORMULARIO EDITA RESTAURANTE */

	.form-edita {
		margin-bottom: 15px;
	}
	
	label {
		display: block;
		margin-bottom: 5px;
	}
	
	input[type="text2"],
	input[type="number2"] {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	
	input[type="submit"] {
		background-color: #3da5e0;
		color: white;
		padding: 10px 10px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		margin-top: 10px;
		text-align: center;
	}
	
	
